@model EquilibriumCore.Models.Spell

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Spell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Element" class="control-label"></label>
                <select asp-for="Element" class="form-control"></select>
                <span asp-validation-for="Element" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDForm" class="control-label"></label>
                <input asp-for="IDForm" class="form-control" />
                <span asp-validation-for="IDForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="listID" class="control-label"></label>
                <input asp-for="listID" class="form-control" />
                <span asp-validation-for="listID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDComponents" class="control-label"></label>
                <input asp-for="IDComponents" class="form-control" />
                <span asp-validation-for="IDComponents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
