
@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <h2>Races</h2>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="3" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="4" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="5" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="6" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="7" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="8" style="background-color:saddlebrown"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <table style=" width:80%" ; align="center">
                    <tr>
                        <td>
                            <img src="~/images/humain.png" alt="human" style="height:500px ;position:center;margin:auto;">
                        </td>
                        <td>
                            <h3 style="color:black">Human</h3>
                            Human are the most common species in Sierra. They are well fitted in any position and no real stereotyp follow them.
                            In Sierra during the Emperor reign theiy were considered like racist but only a small portion really were. Human usually live until 80 and for the most lucky 120.
                        </td>
                    </tr>
                </table>
               
                <div class="carousel-caption">
                   
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/nain.png" alt="Dwarf" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>
                            <h3 style="color:black">Dwarf</h3>
                           Dwarves are the most respected of all races , they are artist and have a lot talent . Most of them live in mountains but it's really not uncomon to see dwarf outside. Dwarves are know
                            to be secretive and only Razzan are tolerated to live with them in there fortress. Dwarf are not renowed for their marksman but their earth wizards and warrior make them a really dangerous foes.
                            Dwarves can lives up to 150 but some are said to have lived until 250.
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                  
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/elf.png" alt="Elf" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Elf</h3>
                            Elves are commonly called child of the order even in Hera. Elves have beed created by Evalen , the avatar of the Order and usually follow his way of life.
                            Elves are known for their high intelligence and their grace but  they can be good warrior and marksman but they shine as wizard  because they have the rigor and will to make it.
                            Elves are Known to have a very long life and can live up to 200 but are also known to not be able to have that much child than other races
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                 
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/razzan.png" alt="Razzan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Razzan</h3>
                            Razzans are a Clerian race , it mean their are half human half beast ; and Razzan can be rat, mouse, or any rodent.
                            They are quite common in the mountain of Sierra and most town or city nearby , they usually live with dwarves because their known for they high adaptivity and for they ingenuity.
                            In Hera their are quite common in the Kingdom of Etoîle ; Simir and Irigar.
                            The razzan are one of the less liked of the races because they are seens as thief.
                            Usually Razzan live as long as a human but accident tend to happen more often while Razzan are involved

                        </td>
                    </tr>
                </table>
                    <div class="carousel-caption">
                        <h3 style="color:black">Razzan</h3>
                    </div>
</div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/nekkan.png" alt="Nekkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Nekkans</h3>
                            Nekkans  are a Clerian race , it mean their are half human half beast ; and Nekkan are half Cats ,they can be any common cats.
                            Their are quite common every were and people always see them as their friendly neighboor and because of their friendly face theiy are usually good trader.
                            In Sierra during the rign of the Emperor Nekkan where hunted for their fur by small noble, and because they are more common their fur were less prised.
                            Nekkan live as long as a human.

                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black">Nekkan</h3>
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ; "align="center">
                    <tr>
                        <td>
                            <img src="~/images/Felkkan.png" alt="Felkkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Felkkan</h3>
                            Felkkan  are a Clerian race , it mean their are half human half beast ; and Felkkan are half Big Cats ,they can be Tigers , Lion , Leopard and any of those.
                            In Sierra they are native of Celes they are usually considered like noble even if they are not , in Celes they were known to be proud knight before being exterminated for their fur by the Emperor of Myr.
                            In Hera Felkkan can be found in the Kingdom of Etoîle or in Enclave and are considered as great swordman.
                            They usually a bit longer than a Human : between 100 to 120.

                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/ursian.png" alt="Ursian" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Ursian</h3>
                            Ursian  are a Clerian race , it mean their are half human half beast ; and Ursian are half Bear , polar bear , grizzly , etc.
                            They are feared by all races because of their might and for being quite easy to piss off. Their are not known for their artistic skills but for being great smith.
                            They are common in the north of Sierra and Hera usually living with okkans. Ursian have good relationship with dwarves for two things : smithing and booze !
                            Ursian live long : between 120 to 140.



                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>

            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/okkan.png" alt="Okkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Okkan</h3>
                            Okkan  are a Clerian race , it mean their are half human half beast ; and Okkan are half Wolf , Fox , Coyote , etc.
                            They are common in the north of both Sierra and Hera , but can be found a bit everywere . They are known for they ability to be great warrior because of their discipline and mastery over a great variety of weapons.
                            They usually live with Ursian but are usually friendly with any races as long as they live in respect .
                            They live as long as a Human
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>

            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/bebokkan.png" alt="Bebokkan" style="height:500px;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black"></h3>
                            Bebokkan are a Clerian race , it mean their are half human half beast ; and Okkan are half lizard, snake, crocodile , etc.
                            In Sierra their are mostly found in Ondelbel living of hunt and training .
                            In Hera they can be found anywere but mostly in the south were the temperature are hotter.
                            They live as long as a Human


                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black">Bebokkan</h3>
                </div>
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="color:black;background:none">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="color:black;background:none">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</body>
