
@{
    ViewBag.Title = "Races";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body>
    <h2>Races</h2>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" >

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:saddlebrown"></li>
            <li data-target="#myCarousel" data-slide-to="1" style="background-color:dimgrey"></li>
            <li data-target="#myCarousel" data-slide-to="2" style="background-color:wheat"></li>
            <li data-target="#myCarousel" data-slide-to="3" style="background-color:darkgrey"></li>
            <li data-target="#myCarousel" data-slide-to="4" style="background-color:black"></li>
            <li data-target="#myCarousel" data-slide-to="5" style="background-color:darkorange"></li>
            <li data-target="#myCarousel" data-slide-to="6" style="background-color:darkgoldenrod"></li>
            <li data-target="#myCarousel" data-slide-to="7" style="background-color:grey"></li>
            <li data-target="#myCarousel" data-slide-to="8" style="background-color:darkslategrey"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <table style=" width:80%" ; align="center">
                    <tr>
                        <td>
                            <img src="~/images/humain.png" alt="human" style="height:500px ;position:center;margin:auto;">
                        </td>
                        <td>
                            <h3 style="color:black">Human</h3>
                            Human are the most common species in Sierra. They are well fitted in any position and no real stereotype follow them.
                            In Sierra during the Undead Emperor's reign , the other race considered Humans racist but in fact most of those who left the empire integrated in other societes just fine. Human usually live until 80 years and for the most lucky 120.
                        </td>
                    </tr>
                </table>
               
                <div class="carousel-caption">
                   
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/nain.png" alt="Dwarf" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>
                            <h3 style="color:black">Dwarf</h3>
                            Dwarves are the most respected of all races, they are artist and have a lot talent. Most of them live in mountains but it's not uncommon to see dwarf outside. Dwarves are known
                            to be secretive and only lety Razzan  live with them in their fortresses. Dwarf are not renowed for their marksmanship but their earth wizards and warriors make them a really dangerous foes.
                            Dwarves can lives up to 150 years but some are said to have lived until 250.
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                  
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/elf.png" alt="Elf" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Elf</h3>
                            Elves are commonly called child of Order even in Hera as they have been created by Evalen , their avatar and usually follow her way of life.
                            They are renowed for their high intelligence and their grace, they can also be good warrior and marksman but were they most shine is wizardry .
                            Elves are known to have a very long life and can live up to 200 years but usually have less children than other races
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                 
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/razzan.png" alt="Razzan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Razzan</h3>
                            Razzans are a Clerian race , it mean they are half human, half beast ; and Razzan look like rats, mice, or other rodents.
                            They are quite common in the mountains of Sierra and most towns or cities nearby. They are known for their high adaptability and for their ingenuity and usually live with dwarves because.
                            In Hera they are quite common in the Kingdom of Etoîle and the cities of Simir and Irigar.
                            The Razzans are often seen with suspition by the other races.
                            Usually a Razzan lives as long as a human but "accidents" tend to happen more often when Razzans are involved

                        </td>
                    </tr>
                </table>
                   
</div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/nekkan.png" alt="Nekkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Nekkan</h3>
                            Nekkans  are a Clerian race , it mean they are half human, half beast;  Nekkans look like house Cats .
                            Their are quite common everywere, people always see them as their friendly neighboor and because of their pretty face they often make good trader.
                            In Sierra during the reign of the Undead Emperor, Nekkans where hunted for their fur by petty noble, but because they were more common their fur was less prized.
                            Nekkans live as long as a human.

                        </td>
                    </tr>
                </table>
               
            </div>
            <div class="item">
                <table style=" width:80% ; "align="center">
                    <tr>
                        <td>
                            <img src="~/images/Felkkan.png" alt="Felkkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Felkkan</h3>
                            Felkkans  are a Clerian race , it mean they are half, human half beast ; Felkkan  look like  Big Cats , Tigers , Lion , Leopard etc.
                            In Sierra they are native of Celes, were they were known to be proud knight before being exterminated for their fur by the Undead Emperor of Myr.
                            After the fall they are usually considered noble by other races even if most of them are not.
                            In Hera Felkkans can be found in the Kingdom of Etoîle or in Enclave and are though of as  great swordman.
                            They usually a bit longer than a Human, between 100 to 120 years.

                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>
            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/ursian.png" alt="Ursian" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Ursian</h3>
                            Ursians  are a Clerian race , it mean they are half human, half beast; Ursians look like Bear : polar bear , grizzly etc.
                            They are feared by all races thanks to their might and for being quite easy to piss off. Their are not known for their artistic skills but for being great smiths.
                            They are common in the north of Sierra and Hera and usually live with Okkans. Ursian have good relationship with dwarves for two things : smithing and booze !
                            Ursian live long, between 120 years and 140 years.



                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>

            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/okkan.png" alt="Okkan" style="height:500px;position:center;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Okkan</h3>
                            Okkans  are a Clerian race , it mean they are half human, half beast; Okkan look like Wolves , Foxes , Coyotes , or other canines.
                            They are common in the north of both Sierra and Hera , but some can be found everywere . They are known for they ability to be great warrior thanks to their discipline and mastery over a great variety of weapons.
                            They usually live with Ursians and friendly with any races as long as they give them respect .
                            They live as long as a Human
                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>

            <div class="item">
                <table style=" width:80% ;" align="center">
                    <tr>
                        <td>
                            <img src="~/images/bebokkan.png" alt="Bebokkan" style="height:500px;margin:auto;">
                        </td>
                        <td>

                            <h3 style="color:black">Bebokkan</h3>
                            Bebokkans are a Clerian race , it mean they are half human, half beast; Bebokkans look like lizards, snakes, crocodiles , or other reptiles.
                            In Sierra they are mostly found in Ondelbel, living of hunting and training .
                            In Hera they can be found everywere but most of them are in the south were the temperature are hotter.
                            They live as long as a Human


                        </td>
                    </tr>
                </table>
                <div class="carousel-caption">
                    <h3 style="color:black"></h3>
                </div>
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="color:black;background:none">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="color:black;background:none">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</body>
