@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table-responsive" style="width:100%;left:0">
    <tr style="width:100%;left:0" >
        <td style="width:1000px">
            <div style="height:220px">
                <Div name="Info" id="Nord" style="display:none">
                    <h2>Le royaume du Nord</h2> <BR>
                    Le Royaume du nord est une confédération de chef de guerre (tribus) et de la cité état de l'enclave.
                    La foi de la lune y est omniprésente et dirige ou guide la vie de tous cependant tous n'ont pas la même façon de la prier de façon plus traditionnel à
                    l'Enclave et plus 'sauvage' dans les tribus ( récupérant la peau de leur ancêtre et en voué un culte).
                    L'enclave est une puissance commerciale non négligeable exportant de la fourrure, du bois, et des Materias.
                    Le Royaume du Nord est étroitement lié à Simir et au Royaume d'Etoile .
                    L'enclave est aussi connu pour son université de magie indépendante de la Guilde des Mages.

                </Div>
                <Div name="Info" id="Ebene" style="display:none">
                    <h2>La Chaîne d'Ebene</h2><br />
                    La chaîne d'ébéne est un ensemble de Forteresse Naine et Razzan. Leur position n'est pas notée sur les cartes et nécéssite un guide pour si rendre.
                    Il exporte du métal et des champignons que seul eux savent faire grandirent.
                    Les habitants sont trés secret sur leur procédé et culture et ne se mêle jamais des affaires étrangérent ou religieuses.

                </Div>
                <Div name="Info" id="Etoile" style="display:none">
                    <h2>Le royaume d'Etoile</h2>
                    Le royaume d'Etoile est au coeur de tous les conflits , ses terres riches et luxuriante attire toutes les convoitises du sud qui aimerai possédé ces vastes étendu de plaine.
                    Le royaume du nord est un allié historique malgré des tensions religieuses et des faux pas diplomatique.
                    Le royaume d'étoile est composé de quatre parties importantes , le coeur ou se tien la Capitale et tout les terres au tour , au nord les terres crepusculaires exploitant les ressources du sol
                    qui à pour ville importante Fort Nuit qui se trouve à la fontiére avec les royaumes du nord, au sud se trouve les Terres d'aube qui profitent ènormément du commerce avec le sud et possède de grand soufleurs de verre,
                    à la frontiére se trouve Fort Aube , une forteresse imposante et pour finir à l'ouest l' havrebois qui possède une forêt sacré qui repousse à chaque aube , de nombreux elfes y habite et revendique leur indépendance régulièrement.
                    Le Royaume d'Etoile est dirigé par un roi mais les guildes ,la noblesse et les temples ont une position importante dans la justice et la gestion du royaume.
                    Etoile prie les Etoiles qui vise à respecter son prochain et à tolérer les autre malgrés leur différence mais cette religion n'a aucune influence dans le reste du monde.
                </Div>
                <Div name="Info" id="Solaire" style="display:none">
                    <h2>L'échine Solaire</h2> L'échine Solaire est un ensemble de Forteresse Naine et Razzan. Leur position n'est pas notée sur les cartes et nécéssite un guide pour si rendre.
                    Il exporte du métal et des champignons que seul eux savent faire grandirent.
                    Les habitants sont trés secret sur leur procédé et culture et ne se mêle jamais des affaires étrangérent ou religieuses.
                </Div>
                <Div name="Info" id="Ast" style="display:none">
                    <h2>Le Royaume d'Ast</h2>
                    Le royaume d'Ast est un royaume chevauchant le desert ,et est un fervent pratiquant de la foi du Soleil trés peu militarisé il est dirigé par une Elite de Felkkan et d'Humain des Sultans
                    eux-même diriger par le Shah qui est choisi par le Grand Temple du soleil.  Malgrés ses terre arides le royaume d'Ast est riche quelque veine d'or et de diamant leur permette de tirer leur epingle du jeu, de plus
                    Var'Ast le desert blanc est une merveille naturelle qui apporte son lot de merveille et d'horreur de nombreux nomade y vive et parle de merveille au dela du desert.
                    Ce royaume est aussi connu pour ses quelque manifestation du Juge , une des mains du gardien.

                </Div>
                <Div name="Info" id="Saint" style="display:none">
                    <h2>Le Saint Royaume</h2>
                    Le Saint Royaume est un petit royaume trés dense ayant une population trés nombreuse profite de la jungle d'Uria leur fournissant nourriture et bois pour leur développement, le Royaume est
                    dirigé par le Haut prêtre du soleil lui même choisi par le Gardien en personne grâce à un rituel complexe. Toutes les villes de ce royaume sont des ziggurat s'etendant au dessus et en dessous du sol
                    le dernier étage étant bien évidemment un temple au Gardien.
                    Les mages sont tous réquisitionnés par l'inquisition et formés à la magie par le temple, la magie étant un art sacrée les mages du Soleil sont révérés par la populace car ce sont eux qui apporte les bénédictions du gardien sur leur terre.
                    La jungle d'Uria attire aussi sont lot d'aventurier car elle abrite de puissants monstres.

                </Div>
                <Div name="Info" id="Simir" style="display:none">
                    <h2>Simir</h2>
                   Simir est une république Oligarchique , les grandes familles dirigent la villes pour assurer sa prosperité.
                    Le commerce d'esclave y reigne mais simir est surtout connu pour son artisanat de la plus haute qualité tout comme pour son armée d'élite qui fait trembler tous les royaumes.
                    Les guildes sont présentes mais n'ont aucune autorité ici et sont forcés de respecter toutes les lois de la république.
                    Simir importe énormément de ressources du continent mais est surtout connue pour acheter des monstres de toute race pour ses combats d'aréne.
                    Simir est largement dominé par la foi de la Lune mais les inquisitions n'ont pas leur mot à dire ici et donc les hérésies et les autres fois sont  pratiqués en toute liberté.
                </Div>
                <Div name="Info" id="Irigar" style="display:none">
                    <h2>Irigar</h2>
                   Irigar est diriger par une fédération Anarchiste de pirate. Les pirates d'Irigar sont très nombreux dans la cité sur pilotis, celle-ci contient la plus grande mixité de foi et d'hérésie.
                    Les pirates vivent de pillage , de la vente d'esclave mais dans les frontières le troc a une place importante ainsi que les faveurs.
                    Les pirates d'Irigar font payer aux Royaumes des taxes pour la non-agressions mais de façon indépendante c'est à dire que chaque clan de pirate fait son contrat indépendamment 
                    , ils donnent une grande importance à l'honneur et aux contrats passés.
                    
                </Div>
            </div>
            <img style="width:1000px;height:1000px" src="~/images/Hera.png" usemap="#WorldMap" />
            <map name="WorldMap">
                <area shape="poly" coords="743,287,1000,282,1000,339,874,348,814,370,731,320" href="#" onclick="HideShow('Ebene')">
                <area shape="poly" coords="321,0,321,139,589,152,625,177,690,184,688,307,1000,281,1000,1" href="#" onclick="HideShow('Nord')">
                <area shape="poly" coords="706,305,736,305,737,331,816,369,1000,335,1000,632,753,680,743,704,646,704,636,305" href="#" onclick="HideShow('Etoile')">
                <area shape="poly" coords="646,704,743,704,1000,716,1000,1000,573,1000,570,813" href="#" onclick="HideShow('Ast')">
                <area shape="poly" coords="573,1000,570,813,377,820,364,1000" href="#" onclick="HideShow('Saint')">
                <area shape="poly" coords="743,673,1000,634,1000,694,739,720" href="#" onclick="HideShow('Solaire')">
                <area shape="poly" coords="392,164,433,164,433,207,392,207" href="#" onclick="HideShow('Simir')">
                <area shape="poly" coords="448,191,496,191,496,223,448,223" href="#" onclick="HideShow('Irigar')">
            </map>

        </td>
        <td  style="width:auto">
           
        </td>
    </tr>
</table>

<script>
    function HideShow(item)
{
    // Declare variables
  //  console.log(element);
  var box;
    box = document.getElementsByName("Info");

    box.forEach(element => element.style.display = "none");
        console.log("test");
        var b = document.getElementById(item);
            b.style.display = "block";
    // Loop through all list items, and hide those who don't match the search query

}
function invertVisible(item)
{
    if (item.style.display == "none")
    {
    item.style.display = "";
    }
    else
    {
    item.style.display = "none";
    }
}
    </script>
