@model IEnumerable<EquilibriumCore.Models.Update>
@inject EquilibriumCore.Service.IToolTipService ToolTips
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h1>Changelog</h1>
    @foreach (Update update in Model)
    {
        <h2> @update.Name </h2>
        @update.Description;
        @foreach (Modification modification in update.modifications)
        {
            <hr />
            @Html.Raw(ToolTips.InsertTooltip(modification.GetUpdate())) 
}
}
        </body>